$color-light-green: #7ed56f;
$color-medium-green: #55c57a;
$color-dark-green: #28b485;

$color-light: #eee;
$color-dark: #000;
$color-dark-grey: #777;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: Lato;
    font-weight: 400;
    line-height: 1.7;
    color: $color-dark-grey;
    padding: 3rem;
    box-sizing: border-box;
}

.header {
    position: relative;
    background-image: linear-gradient(to right bottom,
            rgba($color-light-green, 0.8),
            rgba($color-medium-green, 0.8)),
        url("../img/hero.jpg");
    background-position: top;
    background-size: cover;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__logo {
        height: 3.5rem;
    }

    &__text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


.heading-primary {
    color: $color-light;
    text-transform: uppercase;

    /* used for removing some shakiness in animation */
    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }

    &--sub {
        display: block;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 1.75rem;
        animation: moveInRight 1s ease-out;
    }
}

.btn {

    &:link,
    &:visited {
        display: inline-block;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 1.5rem 4rem;
        border-radius: 10rem;
        transition: all .2s;
        position: relative;
    }

    &:hover {
        transform: translateY(-.5rem);
        box-shadow: 0 1rem 2rem rgba($color-dark, 0.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-dark, 0.2);
    }

    &--white {
        color: $color-dark-grey;
        background-color: $color-light;

        &::after {
            background-color: white;
        }

    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 100px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }


    &--animated {
        animation: moveInBottom 1s ease-out 0.7s;
        animation-fill-mode: backwards;
    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}